.tag {
  width: max-content;
  height: 25px;
  color: #3d3c0a;
  background-color: #eceb98;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 5px;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
